.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.git/**
.github/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webpack.config.js
.eslintrc.json
DEVELOPMENT.md
PUBLISHING.md
